.body {
    margin: 0;
    direction: rtl; /* Set overall direction to RTL */
    text-align: right;
}

.container {
    margin-top: 20px;
    max-width: 100%;
    background-color: white;
    padding: 8px;
    text-align: right;
}

#rooms {
    display: flexbox;
}

.room-btn {
    margin-bottom: 10px;
    margin: 5px; /* Add margin to create space between buttons */
  }

.btn-success {
    background-color: rgb(36, 166, 8);
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

#map {
    width: 600px;
    height: 400px;
    background-color: #f0f0f0;
    position: relative;
}

.icon {
    cursor: pointer;
    margin-right: 10px;
}

.btn-group {
    float: right;
}

.table {
    margin-left: auto;
    margin-right: 0;
}

#addRoomForm input {
    text-align: right; /* Align input text to the right */
}

label, input {
    display: inline-block;
    text-align: right;
    margin-bottom: 10px;
}
/*  *//*  *//*  *//*  *//*  */
#dateDisplay {
    text-align: right; /* Align text display for selected dates to the right */
}

#datepickerStart, #datepickerEnd, #numRoom {
    text-align: right; /* Align text inside inputs to the right */
}

#guestForm{
    text-align: right;
}

#datepicker2 {
    display: none;
}